* {
    font-family: 'Press Start 2P', cursive;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

main {
    background-image: url(../img/sw-bg.png);
    background-size: 100%;
    background-repeat: repeat;
}

/* image */
.image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

#border {
    width: 25rem;
    border-radius: 5%;
}

/* stickers */
.stickers{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    grid-template-areas:
    "title title"
    "s1 s2"
    "s3 s4"
    "ps ps";
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    height: 3rem;
    grid-area: title;
}

h3 {
    font-family: 'Press Start 2P', cursive;
    font-size: 14pt;
    color: #de8347;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15%;
    width: 20rem;
    height: 20rem;
}

#sticker1 {
    grid-area: s1;
}
#sticker2 {
    grid-area: s2;
}
#sticker3 {
    grid-area: s3;
}
#sticker4 {
    grid-area: s4;
}

input {
    width: 6rem;
    margin: 1rem;
}
/* password */