* {
    font-family: "Press Start 2P", cursive;
    margin: 0;
}

main {
    background-image: url(../img/sw-bg.png);
    background-size: contain;
    background-repeat: repeat;
}

/* image */
.image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

#borderChange {
    width: 25rem;
    border-radius: 5%;
}

/* stickers */
.stickers {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    grid-template-areas:
        "title title"
        "s1 s2"
        "s3 s4"
        "st st";
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    height: 3rem;
    grid-area: title;
    border-radius: 5rem;
}

h3 {
    font-size: 14pt;
    color: #de8347;
}

h3:hover {
    cursor: pointer;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15%;
    width: 20rem;
    height: 20rem;
}

#sticker1 {
    grid-area: s1;
}
#sticker2 {
    grid-area: s2;
}
#sticker3 {
    grid-area: s3;
}
#sticker4 {
    grid-area: s4;
}

.total {
    grid-area: st;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#sTotal {
    margin: 1rem;
}

#sTotal:hover {
    cursor: pointer;
}

#stext {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #de8347;
    background-color: rgba(255, 255, 255, 0.9);
    height: 3rem;
    margin: 0.8rem;
    border-radius: 5rem;
    width: 20rem;
}

p {
    font-size: 10pt;
}

input {
    width: 6rem;
    height: 2rem;
    margin: 1rem;
    border-radius: 2rem;
    border: white;
    text-align: center;
    font-size: 10pt;
    color: #de8347;
}

/* password */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.password {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/sw-pass.jpg);
    background-size: contain;
    background-position: center;
    border-radius: 5rem;
    height: 20rem;
    width: 35rem;
}

.pwtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    height: 3rem;
    width: 25rem;
    font-size: 8pt;
    color: #de8347;
    border-radius: 5rem;
}

h2:hover {
    cursor: pointer;
}

select, option, button {
    font-family: "Roboto", sans-serif;
    color: #de8347;
    font-weight: 900;
}

.pwselect {
    margin: 2rem;
}

select {
    width: 3rem;
    height: 3rem;
    font-size: 14pt;
    text-align: center;
}

button {
    height: 3rem;
    width: 8rem;
    font-size: 14pt;
    border-radius: 5rem;
    border: white;
}

.pwtotal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#pwtext {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #de8347;
    background-color: rgba(255, 255, 255, 0.6);
    height: 3rem;
    width: 25rem;
    margin: 0.8rem;
    border-radius: 5rem;
}

#pwtext:hover {
    cursor: pointer;
}

#pwenter:hover {
    cursor: grab;
}