* {
    background-image: url(../img/sw-bg.png);
    background-size: contain;
}

/* image */
.image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

#border {
    width: 25rem;
}

/* stickers */
.stickers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
}

.card {
    margin: 3rem;
}

/* password */